---
const { pageContent } = Astro.props;
const imgAlt = pageContent?.cta?.image_alt;
---
<section id="contact" class="section marketing-section">
  <div class="content-wrapper">
    <div class="marketing-content-wrapper">
      <div data-w-id="64ce2429-cea4-6c8d-d3b2-6c8aab910aa8" style="opacity: 1;" class="marketing-text">
        <div class="marketing-text-wrapper">
          <h2 class="marketing-heading">{pageContent?.cta?.heading}</h2>
          <p class="pure-text">{pageContent?.cta?.text}</p>
        </div>
        <a data-w-id="31b44076-9e9e-e074-a942-d52bc90dfd3a" href="/#contact" class="secondary-button w-inline-block">
          <div class="button-text">{pageContent?.cta?.button}</div>
          <img src="/template_files/6759814e92ecf4abb58bb0a7_right-arrow-pure.svg" loading="eager" alt="" aria-hidden="true" class="button-arrow">
        </a>
      </div>
      <div data-w-id="64ce2429-cea4-6c8d-d3b2-6c8aab910aab" style="opacity: 1;" class="marketing-image-wrapper">
        <img src={pageContent?.cta?.image} loading="eager" alt={imgAlt} class="marketing-image" width="600" height="500" />
      </div>
    </div>
  </div>
</section>
